.cards{
    display: flex;
    flex-wrap: wrap;
}
.title {
    text-decoration: underline;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    margin-top: 5px; /* Adjust as needed */
    margin-left: 170px;
  }