.card{
    display: flex;
    flex-wrap: wrap;
}
.title {
    text-decoration: underline;
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    margin-top: 100px; /* Adjust as needed */
    margin-left: 170px;
  }