/* Base styles */
.browseBtn {
    position: absolute;
    top: 1300px;
    right: 30rem;
    background-color: #4286F5;
    height: 3.375rem;
    width: 14.625rem;
    border-radius: 22px;
    padding: 13px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
   }
   
   .browseBtn:hover {
    background-color: #669ffa;
   }
   
   .browse {
    float: left;
    padding-right: 8px;
    align-items: center;
   }
   
   /* Responsive styles */
   @media (max-width: 1200px) {
    .browseBtn {
       top: 1200px;
       right: 24rem;
       height: 3rem;
       width: 12rem;
       padding: 10px;
       font-size: 16px;
       line-height: 20px;
    }
   
    .browse {
       padding-right: 6px;
    }
   }
   
   
   @media (max-width: 768px) {
    .browseBtn {
       top: 1020px;
       right: 13rem;
       background-color: #5c98fa;
       height: 2rem;
       width: 11rem;
       padding: 6px;
       font-size: 14px;
       line-height: 16px;
    }
   
    .browse {
       padding-right: 2px;
    }
   }
   
   @media (max-width: 480px) {
    .browseBtn {
       top: 970px;
       right: 5.5rem;
       height: 1.5rem;
       width:8rem;
       padding: 4px;
       font-size: 10px;
       line-height: 14px;
    }
   
    .browse {
       padding-right: 2px;
    }
   }
   