.header {
  font-weight: 600;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #00000080;
  box-shadow: 0 4px 4px #00000025;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 90px;
  background-color: #FFFFFF;
}
.title{
    position: absolute;
    top: 18px;
    left: 50%;

}