.gdsc{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #5F6267;
    position: absolute;
    top: 10%;
    left:10rem;
    
}
.toch{
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    color: #5F6267;
    position: absolute;
    top: 14%;
    left:10rem; 
}
.logo{
    position: absolute;
    top: 5%;
    left:3rem 
}