.title{
    text-decoration: underline;
    position: relative;
    top: 50px;
    left: 9.5rem;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
}

.cards{
    display: flex;
    padding: 20px;
    float: left;

}
.button{
    position: relative;
    top: 18px;
    left: 70rem;
    width: 45px;
    height: 45px;
    background-color: aqua;
    border-radius: 11px ;
    margin: 0;
    border: 0;
}
