.title{
    text-decoration: underline;
    position: relative;
    top: 50px;
    left: 9.5rem;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
}

.cards{
    display: flex;
    padding: 20px;
    float: left;
    
}
