.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: left; /* Vertically center elements */
  }
  
  .title {
    text-decoration: underline;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    margin-top: 5px; /* Adjust as needed */
    margin-left: 170px;
  }
  
.cards{
    display: flex;
    padding: 20px;
    float: left;

}
.button{
    position: relative;
    top: -20px;
    left: 70rem;
    width: 45px;
    height: 45px;
    background-color: aqua;
    border-radius: 11px ;
    margin: 0;
    border: 0;
}
